
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)/$ $1.php [NC,L]

#Force non-www:
RewriteEngine On
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://teszt.szakmaicegadatkezelo.hu//$1 [R,L]

RewriteEngine On
RewriteRule ^ceg/(.*)/(.*)/?$ ceg.php?id=$1&ceg=$2


ErrorDocument 404 /404.php